body {
    background-color: aquamarine;
    instructions:
}
#instructions{
    font-family: 'Dosis';
    font-size: 2vw;
    visibility: visible;
    color: palevioletred;
    justify-content: center;
    
    
}
